<h1>Listing books</h1>
<p>
  <form>
    <legend>Search</legend>
    <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
  </form>
</p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Amazon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <%= render @books %>

  </tbody>
</table>

<br>

<h3>Genres</h3>
<ul class="list-unstyled">
  <% @genres.each do |genre| %>
    <li>
      <%= link_to genre.name, books_path(filter: genre.name) %>
    </li>
  <% end %>
</ul>
<%= link_to 'New Book', new_book_path %>
